@import "tailwindcss";


@theme inline {
    /*Farbpalette*/
    --color-bgDark: #0D1717;
    --color-container:   #EEF1F1 ;
    --color-containerHover: #e2e2e2;
    --color-containerDark:  #131F1F;
    --color-containerDarkHover: #1a2a2a;
    --color-warm: #f54d0b;
    --color-cold: #3B82F6;
    --color-normal: #10B981;

    /*Buttons*/
    --color-btn: #1F2937; 
    --color-btn-hover: #1f2630;

    /*Texte*/
   --color-primary: #1A1A1A;
   --color-secondary: #6B7280;
   --color-tertiary: #9CA3AF;
   --color-inverse: #FFFFFF;
}

body {
    font-family: var(--font-inter), sans-serif;
}


h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.25rem; }
h4 { font-size: 1.125rem; }

.aniTemp {
    animation: tempCu 0.6s infinite alternate;
}
@keyframes tempCu {
    from {
        transform: scale(0.9);
    } 
    to {
        transform: scale(1.1);
    }
}